<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/style.css?t=90051322">
    <link rel="stylesheet" href="../dist/styles/main.css?t=cabfb525">
    <script src="../assets/script.js?t=93f1a66c"></script>
    <title>Helpers - Sage Directives</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body class="-menu-visible">
    <div class="doc-layout">
      <div class="toggle menu-toggle js-menu-toggle"></div>
      <div class="menu toc-menu">
        <ul>
          <li class="menu-item -level-0 -parent">
            <ul class="submenu">
              <li class="menu-item -level-1"><a class="link title  link-index" href="../index.html">Sage Directives</a>
              </li>
              <li class="menu-item -level-1 -parent"><span class="title">Usage</span>
                <ul class="submenu">
                  <li class="menu-item -level-2"><a class="link title  link-usagewordpress" href="../usage/wordpress.html">WordPress</a>
                  </li>
                  <li class="menu-item -level-2"><a class="link title  link-usageacf" href="../usage/acf.html">ACF</a>
                  </li>
                  <li class="menu-item -level-2"><a class="link title -active link-usagehelpers" href="../usage/helpers.html">Helpers</a>
                    <ul class="headings heading-list">
                      <li class="heading-item -depth-2"><a class="hlink link-@istrue" href="#@istrue">@istrue</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@isfalse" href="#@isfalse">@isfalse</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@isnull" href="#@isnull">@isnull</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@isnotnull" href="#@isnotnull">@isnotnull</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@instanceof" href="#@instanceof">@instanceof</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@typeof" href="#@typeof">@typeof</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@global" href="#@global">@global</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@set" href="#@set">@set</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@unset" href="#@unset">@unset</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@extract" href="#@extract">@extract</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@implode" href="#@implode">@implode</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@repeat" href="#@repeat">@repeat</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@style" href="#@style">@style</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@script" href="#@script">@script</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@js" href="#@js">@js</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@inline" href="#@inline">@inline</a>
                      </li>
                      <li class="heading-item -depth-2"><a class="hlink link-@fa" href="#@fa">@fa</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body page-usagehelpers">
        <div class="header-nav">
          <div class="right"><a class="iconlink" href="https://github.com/log1x/sage-directives" data-title="log1x/sage-directives">
              <!-- span.title Open in GitHub--><span class="icon -github"></span></a>
          </div>
        </div>
        <div class="markdown-body"><h1 id="helpers">Helpers</h1>
<p>The following directives are generalized helpers in an attempt to avoid using <code>@php</code> and <code>@endphp</code> where it isn&#x2019;t absolutely necessary.</p>
<h2 id="@istrue">@istrue</h2>
<p><code>@istrue</code> is a simple conditional that displays the specified output if the parameter passed exists and returns true. It can be closed using <code>@endistrue</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@istrue($variable)</span>
  Hello World
<span class="hljs-meta">@endistrue</span>
</code></pre>
<p>Alternatively, you can pass the output as a second parameter:</p>
<pre><code class="lang-py"><span class="hljs-meta">@istrue($variable, &apos;Hello World&apos;)</span>
</code></pre>
<h2 id="@isfalse">@isfalse</h2>
<p><code>@isfalse</code> is a simple conditional that displays the specified output if the parameter passed exists but returns false. It can be closed using <code>@endisfalse</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@isfalse($variable)</span>
  Goodbye World
<span class="hljs-meta">@endistrue</span>
</code></pre>
<p>Alternatively, you can pass the output as a second parameter:</p>
<pre><code class="lang-py"><span class="hljs-meta">@isfalse($variable, &apos;Goodbye World&apos;)</span>
</code></pre>
<h2 id="@isnull">@isnull</h2>
<p><code>@isnull</code> is a simple conditional that displays the specified output if the parameter passed is null. It can be closed using <code>@endisnull</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@isnull($variable)</span>
  There <span class="pl-k">is</span> nothing here.
<span class="hljs-meta">@endisnull</span>
</code></pre>
<p>Alternatively, you can pass the output as a second parameter:</p>
<pre><code class="lang-py"><span class="hljs-meta">@isnull($variable, &apos;There is nothing here.&apos;)</span>
</code></pre>
<h2 id="@isnotnull">@isnotnull</h2>
<p><code>@isnotnull</code> is a simple conditional that displays the specified output if the parameter passed exists and is not null. It can be closed using <code>@endisnotnull</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@isnotnull($variable)</span>
  There <span class="pl-k">is</span> something here.
<span class="hljs-meta">@endisnull</span>
</code></pre>
<p>Alternatively, you can pass the output as a second parameter:</p>
<pre><code class="lang-py"><span class="hljs-meta">@isnotnull($variable, &apos;There is something here.&apos;)</span>
</code></pre>
<h2 id="@instanceof">@instanceof</h2>
<p><code>@instanceof</code> checks if the first parameter is an instance of the second parameter. It can be closed using <code>@endinstanceof</code>.</p>
<pre><code class="lang-py">@instanceof($post, &apos;WP_Post&apos;)
  The post ID is {{ $post-&gt;ID }}.
@endinstanceof
</code></pre>
<h2 id="@typeof">@typeof</h2>
<p><code>@typeof</code> checks if the first parameter is of a specified type. It can be closed using <code>@endtypeof</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@typeof(14, &apos;integer&apos;)</span>
  This <span class="pl-k">is</span> a whole number.
<span class="hljs-meta">@endtypeof</span>
</code></pre>
<h2 id="@global">@global</h2>
<p><code>@global</code> globals the specified variable.</p>
<pre><code class="lang-py"><span class="hljs-meta">@global($post)</span>
</code></pre>
<h2 id="@set">@set</h2>
<p><code>@set</code> sets the specifed variable to a specified value.</p>
<pre><code class="lang-py"><span class="hljs-meta">@set($hello, &apos;world&apos;)</span>
</code></pre>
<h2 id="@unset">@unset</h2>
<p><code>@unset</code> unsets the specified variable.</p>
<pre><code class="lang-py"><span class="hljs-meta">@unset($hello)</span>
</code></pre>
<h2 id="@extract">@extract</h2>
<p><code>@extract</code> extracts the passed array into variables. This can be useful for making views customizable when passing parameters to <code>@include</code> but also having default values set within&#x2019; the view.</p>
<pre><code class="lang-py">// single.blade.php
@include(&apos;components.entry-meta&apos;, [
  &apos;author&apos; =&gt; false,
  &apos;date&apos;   =&gt; true,
])

// entry-meta.blade.php
@extract([
  &apos;author&apos; =&gt; $author ?? true,
  &apos;date&apos;   =&gt; $date   ?? true
])

@if ($author)
  [...]
@endif

@if ($date)
  [...]
@endif
</code></pre>
<h2 id="@implode">@implode</h2>
<p><code>@implode</code> echo&#x2019;s a string containing a representation of each element within&#x2019; the array passed to it with a glue string between each element.</p>
<pre><code class="lang-py"><span class="hljs-meta">@implode(&apos;, &apos; [&apos;dog&apos;, &apos;cat&apos;, &apos;mouse&apos;, &apos;snake&apos;])</span>
// dog, cat, mouse, snake
</code></pre>
<h2 id="@repeat">@repeat</h2>
<p><code>@repeat</code> repeats its contents a specified number of times. It can be closed using <code>@endrepeat</code>.</p>
<pre><code class="lang-py">&lt;ul&gt;
  @repeat(5)
    &lt;li&gt;{{ $loop-&gt;iteration }}&lt;/li&gt;
  @endrepeat
&lt;/ul&gt;
</code></pre>
<p>Similar to Laravel&#x2019;s native looping, a <code>$loop</code> variable is available inside of <code>@repeat</code>:</p>
<pre><code class="lang-py">@repeat(5)
  @if ($loop-&gt;first)
    This is the first iteration.
  @endif
  
  @if ($loop-&gt;last)
    This is the last iteration.
  @endif
  
  This is iteration {{ $loop-&gt;iteration }} out of $loop-&gt;count. 
  There are {{ $loop-&gt;remaining }} iterations left.
  The current iteration index is {{ $loop-&gt;index }}
@endrepeat
</code></pre>
<h2 id="@style">@style</h2>
<p><code>@style</code> allows you to quickly inline a block of CSS or define a path to a stylesheet. When being used for inline CSS, it can be closed using <code>@endstyle</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@style</span>
  .button {
    background-color: LightGreen;
    color: white;
    padding: <span class="hljs-number">0.75</span>rem <span class="hljs-number">1</span>rem;
  }
<span class="hljs-meta">@endstyle</span>
  
<span class="hljs-meta">@style(&apos;/path/to/style.css&apos;)</span>
</code></pre>
<h2 id="@script">@script</h2>
<p><code>@script</code> allows you to quickly inline a block of Javascript or define a path to a script. When being used for inline JS, it can be closed using <code>@endscript</code>.</p>
<pre><code class="lang-py"><span class="hljs-meta">@script</span>
  console.log(<span class="pl-s">&apos;Hello World&apos;</span>)
<span class="hljs-meta">@endscript</span>
  
<span class="hljs-meta">@script(&apos;/path/to/script.js&apos;)</span>
</code></pre>
<h2 id="@js">@js</h2>
<p><code>@js</code> allows you to declare inline Javascript variables similar to <a href="https://developer.wordpress.org/reference/functions/wp_add_inline_script/">wp_add_inline_script()</a>. The passed value can be in the form of a string or an array.</p>
<pre><code class="lang-py">@js(&apos;hello&apos;, &apos;world&apos;)
  
// &lt;script&gt;
//   window.hello = &apos;world&apos;;
// &lt;/script&gt;
</code></pre>
<h2 id="@inline">@inline</h2>
<p><code>@inline</code> loads the contents of a CSS, JS, or HTML file inline into your view and wraps the content with the proper HTML tag depending on the file extension. By default, the path is set to your current theme directory.</p>
<pre><code class="lang-py"><span class="hljs-meta">@inline(&apos;dist/styles/critical.css&apos;)</span>
</code></pre>
<h2 id="@fa">@fa</h2>
<p><code>@fa</code> and its related directives serve as helpers for quickly outputting Font Awesome icons. <code>@fa</code> is for Font Awesome 4, while <code>@fas</code>, <code>@far</code>, <code>@fal</code>, and <code>@fab</code> are for their corrosponding Font Awesome 5 variation.</p>
<pre><code class="lang-py"><span class="hljs-meta">@fa(&apos;arrow-up&apos;, &apos;optional-css-classes&apos;)</span>
<span class="hljs-meta">@fas(&apos;arrow-down&apos;, &apos;optional-css-classes&apos;)</span>
<span class="hljs-meta">@far(&apos;arrow-left&apos;, &apos;optional-css-classes&apos;)</span>
<span class="hljs-meta">@fal(&apos;arrow-right&apos;, &apos;optional-css-classes&apos;)</span>
<span class="hljs-meta">@fab(&apos;twitter&apos;, &apos;optional-css-classes&apos;)</span>
</code></pre>

        </div>
        <div class="footer-nav">
          <div class="left"><a href="../usage/acf.html"><span class="title">ACF</span></a></div>
        </div>
      </div>
    </div>
  </body>
</html>